## Observations and Insights

In [60]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.DataFrame(pd.read_csv(mouse_metadata_path))
study_results = pd.DataFrame(pd.read_csv(study_results_path))

# Combine the data into a single dataset
study_meta_merge = pd.merge(study_results, mouse_metadata, on = 'Mouse ID')
# Display the data table for preview
study_meta_merge

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,b128,0,45.000000,0,Capomulin,Female,9,22
1,b128,5,45.651331,0,Capomulin,Female,9,22
2,b128,10,43.270852,0,Capomulin,Female,9,22
3,b128,15,43.784893,0,Capomulin,Female,9,22
4,b128,20,42.731552,0,Capomulin,Female,9,22
...,...,...,...,...,...,...,...,...
1888,m601,25,33.118756,1,Capomulin,Male,22,17
1889,m601,30,31.758275,1,Capomulin,Male,22,17
1890,m601,35,30.834357,1,Capomulin,Male,22,17
1891,m601,40,31.378045,1,Capomulin,Male,22,17
1892,m601,45,28.430964,1,Capomulin,Male,22,17

In [29]:
# Checking the number of mice.
study_meta_merge['Mouse ID'].nunique()

249

In [55]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
study_meta_merge.sort_values(['Mouse ID', 'Timepoint'], axis = 'index', inplace = True)
smm_dupe = study_meta_merge[study_meta_merge.duplicated(['Mouse ID', 'Timepoint'])]

In [61]:
# Optional: Get all the data for the duplicate mouse ID. 
smm_dupe

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
861,g989,0,45.000000,0,Propriva,Female,21,26
863,g989,5,47.570392,0,Propriva,Female,21,26
865,g989,10,49.880528,0,Propriva,Female,21,26
867,g989,15,53.442020,0,Propriva,Female,21,26
869,g989,20,54.657650,1,Propriva,Female,21,26

In [58]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
smm_nodupe = study_meta_merge.drop_duplicates(['Mouse ID', 'Timepoint'])
smm_nodupe

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
898,a203,0,45.000000,0,Infubinol,Female,20,23
899,a203,5,48.508468,0,Infubinol,Female,20,23
900,a203,10,51.852437,1,Infubinol,Female,20,23
901,a203,15,52.777870,1,Infubinol,Female,20,23
902,a203,20,55.173336,1,Infubinol,Female,20,23
...,...,...,...,...,...,...,...,...
105,z969,25,63.145652,2,Naftisol,Male,9,30
106,z969,30,65.841013,3,Naftisol,Male,9,30
107,z969,35,69.176246,4,Naftisol,Male,9,30
108,z969,40,70.314904,4,Naftisol,Male,9,30
109,z969,45,73.867845,4,Naftisol,Male,9,30

In [59]:
# Checking the number of mice in the clean DataFrame.
smm_nodupe['Mouse ID'].nunique()

249

## Summary Statistics

In [7]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
# mean, median, variance, standard deviation, and SEM of the tumor volume. 
# Assemble the resulting series into a single summary dataframe.

In [8]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Using the aggregation method, produce the same summary statistics in a single line

## Bar and Pie Charts

In [9]:
# Generate a bar plot showing the total number of unique mice tested on each drug regimen using pandas.

In [10]:
# Generate a bar plot showing the total number of unique mice tested on each drug regimen using pyplot.

In [11]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [12]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [13]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [14]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [15]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [16]:
# Generate a line plot of tumor volume vs. time point for a mouse treated with Capomulin

In [17]:
# Generate a scatter plot of average tumor volume vs. mouse weight for the Capomulin regimen

## Correlation and Regression

In [18]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen